{% extends 'main_app/index.html' %}
{% block body %}
<div class="container mt-3">

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fill in title" name="title">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlInput1" placeholder="fill in Content" name="Content"></textarea>
        </div>
        <label for="exampleFormControlInput1" class="form-label">is published</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="is_published" id="exampleRadios1" value="0">
            <label class="form-check-label" for="exampleRadios1">
              False
            </label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="is_published" id="exampleRadios2" value="1">
            <label class="form-check-label" for="exampleRadios2">
              True
            </label>
          </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">publish Date</label>
            <input type="date" name="publish_date" />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Choose Image</label>
          <input type="file" name="image" class="form-control">
      </div>

        <div class="mb-3">
            <input type="submit"   id="submit"value="Create blog" class="btn btn-primary" />
        </div>
    </form>

 
</div>
{% endblock body %}

