{%extends 'blog_app/base.html'%}

{% block title %} Add New blog {% endblock%}

{% block content%}
<h1>Add Blog</h1>
<div class="container">

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Type a Title" name="title">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Content</label>
            <textarea class="form-control" id="exampleFormControlInput1" placeholder="Type Your Content" name="content"></textarea>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Do you want to publish the blog?</label>
            <select class="form-select" aria-label="Default select example" name="is_published">
                <option value="True">Publish</option>
                <option value="False">don't Publish</option>
              </select>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Publish Date</label>
            <input type="date" name="publish_date" />
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Choose Image</label>
            <input type="file" name="image" class="form-control" />
        </div>

        <div class="mb-3">
            <input type="submit" value="Post Blog" class="btn btn-primary" />
        </div>


    </form>

</div>
{% endblock %}