{%extends 'blog_app/base.html'%}
{%load static%}

{% block title %} Adventurous lifestyle {% endblock%}

{% block content%}

<h3>Search results for <span class="text-success">{{request.GET.search}}</span></h3>
<div class="row">
    {% for blog in blogs %}
        <div class="col-4 g-3">
            <div class="card" >
                <img src="{% static 'images/blog.png' %}" class="card-img-top"> 
                <div class="card-body">
                <h5 class="card-title"> {{ blog.title }}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">{{blog.publish_date}}</div>
                    </div>
                </div>    
                <a href="{% url 'blog_app:read_blog' blog.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}