{% extends 'main_app/index.html' %}

{% block title %} {{blog.title}} {% endblock %}

{% block content %}
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{ blog.title }}</h2>
        <p class="blog-post-meta">Publish Date: {{ blog.publish_date }}</p>
        <p class="blog-post-meta">Update Date: {{ blog.update_date }}</p>
        <a class="btn btn-sm btn-outline-warning" href="{% url 'main_app:update_page' blog.id %}">Update Blog</a>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'main_app:delete_page' blog.id %}">Delete Blog</a>
        <hr>
        <p>{{ blog.content }}</p>
        <hr> <br>
    </article>

    <div class="container mt-3">
        <form action="{% url 'main_app:add_comment' blog.id %}" method="POST">
            {% csrf_token %}
            <h3>Comments:</h3>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Comment</span>
                <textarea type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="content"></textarea>
            </div>
            
            <div class="mb-3 justify-content-end align-items-center">
                <input type="submit" value="Add comment" class="btn btn-sm btn-outline-primary">
            </div>
        </form>

        {% for comment in comment %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">{{comment.content}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <p>{{comment.name}}</p>
                                </div>
                            <small class="text-body-secondary">{{comment.created_at}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}