{% extends 'main_app/index.html' %}

{% block content %}
    <div class="row mb-2 px-4 py-5 my-5">
        {% for blog in blog %}
            <div class="col-md-6">
                <div class="bg-body-tertiary row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ blog.title }}</h3>
                        <div class="mb-1 text-body-secondary">{{ blog.publish_date }}</div>
                        <p class="card-text mb-auto">{{ blog.content|truncatewords:50 }}</p>
                        <a href="{% url 'main_app:detail_page' blog.id %}" class="stretched-link">Continue reading</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}