{% extends 'new_movie/home.html'%}

{% block page %}  Add Movie {% endblock %}

{% block nav%}
        <li class="nav-item"><a href="{% url 'new_movie:home_page'%}" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'new_movie:add_page'%}" class="nav-link active">Add Movie</a></li>
        <li class="nav-item"><a href="{% url 'new_movie:view_page'%}" class="nav-link">All Movies</a></li>
{%endblock%}

{% block process%}

<form action="{% url 'new_movie:add_page'%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title" name="title">
        
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" id="exampleFormControlInput1" placeholder="content" name="content"></textarea>
        
    </div>

    <div class="form-floating mb-3">
        <label for="exampleFormControlInput1" class="form-label">Choose Image</label>
        <input type="file" name="image" class="form-control" />
        
    </div>

    <div class="form-floating mb-3">
        <label for="floatingSelectDisabled">Is Published? </label>
        <select class="form-select" id="floatingSelectDisabled" aria-label="Floating label disabled select example" name="is_published" >
        <option value="True">published</option>
        <option value="False">unpublished</option>
        
        </select>
        
    </div>

    <div class="form-floating mb-3">
        <input type="datetime-local"  id="floatingSelectDisabled" name="publish_date">
        
    </div>

    <div class="mb-3">
        <input type="submit" value=" Add Movie" class="btn btn-primary" />
    </div>
    

</form>
    
          {% endblock %}