{% extends 'main_app/base.html' %}

{% block title %}{% endblock %}

{% block contentt %}
<h1>Welcome to blog website</h1>

<h3>Search results for <span class="text-success">{{request.GET.search}}</span></h3>
<div class="row">
    {% for blog in blogs %}
        <div class="col-4 g-3">
            <div class="card" >
                <div class="card-body">
                <h5 class="card-title"> {{ blog.title }}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">content: {{blog.content}}</div>
                        <div class="col">{{blog.release_date}}</div>
                    </div>
                </div>    
                <a href="{% url 'main_app:detail' blog.id %}" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}