{% extends 'main_app/home.html' %}

{% block title %} Add New Post {% endblock%}

{% block home %}
 <a class="blog-header-logo text-dark" href="{% url 'main_app:index_page' %}">Pre posts</a>
{% endblock %}

{% block content%}
<h1>Add Post</h1>
<div class="container">
<!-- احط فيه رابط الصفحة الي ابغى اوجه له البيانات -->
    <form action="" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fill in title" name="title">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">content</label>
            <textarea class="form-control" id="exampleFormControlInput1" placeholder="fill in content" name="content"></textarea>
        </div>

        <label for="exampleFormControlInput1" class="form-label">is_published</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="is_published" id="exampleRadios1" value="0">
            <label class="form-check-label" for="exampleRadios1">
              False
            </label>
          </div>
          <div class="form-check mb-3">
            <input class="form-check-input" type="radio" name="is_published" id="exampleRadios2" value="1">
            <label class="form-check-label" for="exampleRadios2">
              True
            </label>
          </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">publish_date</label>
            <input type="date" name="publish_date" />
        </div>
        
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Choose Image</label>
          <input type="file" name="image" class="form-control" />
        </div>

        <div class="mb-3">
            <input type="submit" value="Add Post" class="btn btn-primary" />
        </div>
    </form>

</div>
{% endblock %}
